<h1>Showing all Events</h1>

<% if @events.nil? %>
  <%= "No Events" %>
<% else %>
  <% @events.each do |event| %>
    <%= link_to event.name, event%><br><br>
  <% end %> 
<% end %>

<%= link_to "New Event", new_event_path %>

